{% extends 'base.html' %}
{% block title %} ITSP TEAMS{% endblock title %}
{% block homenav %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link mx-2 active" href="#">Teams</a>
</li>

{% endblock homenav %}
{% block body %}

<div>
  <h1 class="text-center"><b>Team Name - {{team.Team_name}}</b></h1>
  <h3 class="text-center"><b>Team ID - {{team.Team_id}}</b></h3>
  <hr>
  <div class="container">


    <ol class="list-group list-group-numbered">
        <div class="text-center"><b> <h3>TEAM MEMBERS</h3></b></div>
      <li class="list-group-item">{{team.member1}}</li>
      <li class="list-group-item">{{team.member2}}</li>
      <li class="list-group-item">{{team.member3}}</li>
      <li class="list-group-item">{{team.member4}}</li>

    </ol>
    <br>
    <h2>
      Project Details :-   <a class="btn btn-info" href="{{team.Team_info}}" target="_blank" role="button">Click Here</a>
    </h2>
    
  </div>
{% endblock body %}












<div>
    {% comment %} <h1><b>Teams participated</b></h1> {% endcomment %}

    

    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
      <div class="card h-100 p-4">
        <h1>{{team.Team_name}}</h1>
       <ul><li> <h3>Team members</h3></li></ul>
       <ol>
           <li>{{team.member1}}</li>
           <li>{{team.member2}}</li>
           <li>{{team.member3}}</li>
           <li>{{team.member4}}</li>
       </ol>
      </div>
    </div>
</div>